/* 	font-family: 'Heebo', sans-serif; */

body {
  font-family: 'Heebo';
}
.page-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}
a {
  color: #2396f7;
}
.header {
  background: url('images/header-background.jpg') no-repeat 0 0 #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px 20px 0 20px;
  position: relative;
}
.header .page-wrapper{
    max-width: 1900px;
}
	
svg:not(:root),
.header .logo img {
  width: 100px;
}
.header .hero {
  padding: 60px 0 110px 31.3%;
  
}
.header .hero .date {
  font-size: 0.875em;
  color: #808080;
}
.header .hero h1 {
  font-weight: 300;
  margin: 5px 0 30px 0;
}
.header .hero p {
  font-size: 0.875em;
  color: #808080;
  line-height: 1.5rem;
  font-weight: 300;
}
.buttonCollapseHeroBefore{
	    text-decoration: underline;
}
.section {
  padding: 60px 0;
  background: #ffffff;
}
.section.grey {
  background: #E0E0E0;
}
.table-col .btn {
  margin: 0;
}
.btn-play {
  padding: 0.75rem 1rem;
  font-size: 0.875em;
  background: #2396f7;
}
.btn-spacing {
  letter-spacing: 0.25em;
}
.btn-review {
  color: #2396f7;
  font-size: 0.625em;
  text-decoration: underline;
}
.btn-inverse {
  border-width: 1px;
  border-style: solid;
  background: transparent;
  border-radius: 3px;
}
.btn-play.btn-inverse {
  border-color: #2396f7;
  color: #2396f7;
}
.btn-review.btn-inverse {
  color: #808080;
}
.desktop.brands-table {
  margin: -80px 0 0 0;
}
.brands-table {
  display: table;
  width: 100%;
  border: 1px solid #f2f2f2;
  z-index: 1;
  position: relative;
}
.brands-table ul {
  padding: 0;
  margin: 0;
}
.brands-table li {
  display: block;
  position: relative;
  background: #ffffff;
  padding: 8px 0px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.brands-table li:hover,
.brands-table li.odd:hover {
  background-color: #fffeec;
}
.brands-table li.odd {
  background: #E0E0E0;
}
.brands-table li .table-col {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 20%;
  text-align: center;
  padding: 14px 30px;
}
.brands-table li .table-col.brand-logo {
  width: 20%;
}
.brands-table li .table-col.brand-position {
  color: #152538;
  font-size: 1.5em;
  font-weight: 300;
  width: 5%;
}
.brands-table li .table-col.user-rating {
  width: 15%;
}
.brands-table li .table-col:after {
  content: "";
  width: 1px;
  background: #e0e0e0;
  height: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.brands-table li .table-col.last:after,
.brands-table li .table-col.no-divider:after {
  width: 0;
}
.brands-table li .brand-offer h3 {
  font-size: 0.875em;
  color: #888888;
}
.brands-table li .brand-offer p {
  font-size: 1em;
  margin-bottom: 0;
}
.brand-item {
  padding: 15px 0;
}
.brand-logo {
  margin: 10px 0;
}
.brand-score .progress {
  border-radius: 500px;
}
.brand-score .progress-bar {
  border-radius: 500px;
}
.brand-score p {
  font-size: 0.625em;
  margin: 5px 0 0 0 ;
  color: #888888;
}
.progress-bar {
  animation-name: animateBar;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.8s;
}
@keyframes animateBar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
a .user-rating h4 {
  color: #000000;
}
.user-rating {
  text-align: center;
}
.user-rating h4 {
  font-size: 2.8125em;
  margin-bottom: 0;
  font-weight: 300;
}
.user-rating p {
  font-size: 0.625em;
  color: #888888;
  margin-bottom: 0;
}
.terms-popover {
  font-size: 0.625em;
  color: #888888;
}
.terms-popover .fa {
  color: #000000;
}
.popover-body {
  font-size: 0.75em;
  color: #888888;
  overflow-y: auto;
  height: 150px;
  max-width: 230px;
}
.brand-offer p,
.brand-offer p a {
  color: #888888;
  text-decoration: none;
}
.col-divider {
  margin: 0 22px;
  background: #ffffff;
}
.grey .bordered-col {
  border: 1px solid #dadada;
  background: #ffffff;
  border-radius: 6px;
  margin: 0 15px;
}
.section-title h3 {
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: 22px;
}
.section-button {
  text-align: right;
  font-size: 0.75em;
}
.page-wrapper .slick-slide {
  outline: none;
}
.page-wrapper .slick-prev,
.page-wrapper .slick-next {
  z-index: 1;
}
.page-wrapper .slick-prev:before,
.page-wrapper .slick-next:before,
.custom-arrow {
  font-family: 'FontAwesome';
  color: #000000;
  font-size: 35px;
}
.page-wrapper .slick-prev:before {
  content: "\f104";
}
.page-wrapper .slick-next:before {
  content: "\f105";
}
.col-divider:after {
  content: "";
  width: 1px;
  background: #e0e0e0;
  height: 75%;
  position: absolute;
  top: 20px;
  right: -22px;
}
.col-divider.last:after {
  width: 0;
}
.reviews-slider .review-item .brand-logo img {
  margin: 0 auto;
  border-radius: 500px;
  overflow: hidden;
}
.reviews-slider .review-item .review-ranknig a {
  color: #888888;
  font-size: 24px;
  text-decoration: none;
}
.reviews-slider .review-item .review-ranknig a :hover,
.reviews-slider .review-item .review-ranknig a :focus {
  color: #4caf50;
}
.reviews-slider .review-item .review-ranknig a .fa-thumbs-down {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.reviews-slider .review-item .reviewer-name h4 {
  font-size: 1.125em;
  font-weight: bold;
  margin-bottom: 0;
}
.reviews-slider .review-item .reviewer-name p {
  font-size: 0.875em;
  color: #808080;
  font-weight: 300;
  margin-bottom: 0;
}
.reviews-slider .review-item .review-score .full {
  color: #efce4a;
}
.reviews-slider .review-item .review-score .empty {
  color: #d5d4d0;
}
.reviews-slider .review-item .helper p {
  font-size: 0.875em;
  color: #d5d4d0;
  font-weight: 300;
}
.reviews-slider .review-item .review-body p {
  font-size: 0.875em;
  color: #888888;
  font-weight: 300;
  margin-bottom: 0;
}
.category-item {
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
}
.category-item h4 {
  font-weight: 300;
  font-size: 1em;
  padding-top: 20px;
}
.category-item a {
  color: #ffffff;
  display: block;
  padding: 50px 0;
}
.grey .col.category-item {
  border: 0 none;
  min-height: 160px;
  margin: 0 15px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.category-item.slots {
  background: url('images/categories/slots-icon.png') no-repeat bottom right #ffab40;
}
.category-item.roulette {
  background: url('images/categories/roulette-icon.png') no-repeat bottom right #f8432c;
}
.category-item.blackjack {
  background: url('images/categories/blackjack-icon.png') no-repeat bottom right #4CAF50;
}
.category-item.bonuses {
  background: url('images/categories/bonuses-icon.png') no-repeat bottom right #26a69a;
}
.category-item.live-casino {
  background: url('images/categories/live-casino-icon.png') no-repeat bottom right #00575f;
}
.all-brands .col {
  background: #f2f2f2;
  border-radius: 6px;
  margin: 5px 15px;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.all-brands .col a {
  display: block;
  padding: 60px 0;
}
.all-brands .col img {
  margin: 0 auto;
  height: 35px;
  max-width: 100%;
}
.news-section .news-item {
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  margin: 5px 0;
}
.news-section .news-item .article-image img {
  max-width: 100%;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.news-section .news-item .news-item-body {
  text-align: center;
  padding: 20px;
}
.news-section .news-item .news-item-body h5 {
  font-weight: 300;
  font-size: 1.25em;
}
.news-section .news-item .news-item-body h5 a {
  color: #004681;
}
.news-section .news-item .news-item-body h5 a:hover{
	text-decoration: none;
}
.news-section .news-item .news-item-body p {
  color: #888888;
  font-weight: 300;
  font-size: 0.875em;
  line-height: 24px;
}
.news-section .news-item .news-item-footer {
	
  padding: 20px;
}
.news-section .news-item .news-item-footer p {
  color: #888888;
  font-weight: 300;
  font-size: 0.75em;
  margin-bottom: 0;
}
.news-section .news-item .news-item-footer .article-date p {
  text-align: right;
}
.footer {
  font-family: 'Heebo', sans-serif;
  background: #2c2c2c;
  padding: 50px 0;
}
.footer .logo img {
  height: 45px;
}
.footer .copyrights {
  color: #ffffff;
  font-size: 0.625em;
  font-weight: 300;
}
.footer .license-logos li img {
    
    
    max-width: 100%;
}
.footer ul {
  padding: 0;
  margin: 0;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  list-style: none;
}
.footer ul li a {
  color: #f7f7f7;
  font-size: 0.875em;
  font-weight: 300;
}
.footer p {
  color: #f7f7f7;
  font-size: 0.875em;
  font-weight: 300;
  margin: 0;
  line-height: 24px;
}
.footer p a {
  color: #f7f7f7;
}
ul.list-inline.license-logos{
	-webkit-column-count: 1;
    -moz-column-count: 1;
    column-count:1; 
}
.list-inline-item{
	display: inline-block;
    float: initial;
	margin-bottom: 5%;
}
.btn.btn-raised.btn-info {
    background-color: #2396f7;
    color: #fff;
    background-color: #03a9f4;
    border-color: #03a9f4;
}
a.btn.btn-inverse {
    /*height: 33px;
    width: 130px;
    color: #808080;
    font-size: 12px; */
}
.column{
	    padding-bottom: 3%;
}
.small, small {
    margin-top: 9px;
    display: -webkit-box;
}
.list-inline-item:nth-child(1) img{

    height: 13px;
}
.list-inline-item:nth-child(2) img{

    height: 32px;
}
.list-inline-item:nth-child(3) img{

    height: 28px;
}
.list-inline-item:nth-child(4) img{

    height: 32px;
}
.list-inline-item:nth-child(5) img{

    height: 32px;
}
.list-inline-item:not(:last-child){
	
}